* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background: hsl(350, 100%, 78%);
}

.container {
  border-radius: 10px;
  padding: 20px;
  background: #f3f3f3;
  width: 700px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transition: 300ms ease;
}

img {
  border-radius: 50%;
  float: left;
  width: 50px;
  height: 50px;
  clear: both;
}

.item {
  background: white;
  position: relative;
}

.clear {
  background: hsl(0, 80%, 70%);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border: 2px solid white;
  position: absolute;
  right: 20px;
  top: 10px;
  transition: 400ms ease;
  cursor: pointer;
}

.clear:hover {
  background: white;
  color: hsl(0, 80%, 70%);
  border-color: hsl(0, 80%, 70%);
  transition: 400ms ease;
}

.clear-all {
  background: hsl(200, 100%, 50%);
  padding: 1rem;
  width: 200px;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  margin: 0 auto;
  cursor: pointer;
  transition: 300ms ease;
}

.clear-all:hover {
  background: hsl(240, 100%, 60%);
  transition: 300ms ease;
}
